terraform {
  backend "azurerm" {
    resource_group_name  = "tstate"
    storage_account_name = "tstate1811"
    container_name       = "tstate"
    key                  = "terraform.tfstate"
    use_msi              = true
    subscription_id      = "yourvalue"
    tenant_id            = "yourvalue"
  }
}
